
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteinar{
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
/*<<<<<<<<<< {Header Section start} >>>>>>>>>>>>> */
#header{
    margin-top: 66px;
    margin-bottom: 65px;
}
.header-dtails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
}
.header-left h1{
    font-size: 40px;
    font-weight: 600;
    color:  #4A4A4A;
    text-align: center;
}
.header-center{
    width:666px ;
    height:27px;
}
.manu-list{
    display: flex;
    justify-content: space-between;
}
.manu-list li {
    list-style-type: none;
}
.manu-list li a{
    text-decoration: none;
    font-size: 18px;
    color: #777;
    text-align: center;
    font-weight: 400;
}

.header-button{
    border-radius: 5px;
    border: 1px solid  #289BDE;
    padding: 10px 33px;
    color: #289BDE;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background: #FFF;
    cursor: pointer;
    
}

/*<<<<<<< banner section start >>>>>>>>>*/

.main-banner{
    background: rgba(29, 29, 29, 0.70)url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    width:100% ;
    height: 700px;
    border-radius: 5px;
}
.dtails{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.banner-left{
    padding-left: 50px;
}
.banner-dtails-h1{
    width: 632px;
    height: 100%;
}
.banner-dtails-h1 h1{
    font-size: 65px;
    color: #FFF;
    line-height: 85px;
    text-align: center;
    font-weight: 600;
}
.banner-dtails-p{
    width: 671px;
    height: 100%;
    padding-top: 20px;
}
.banner-dtails-p p{
    font-size: 18px;
    color: #F4F4F4;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.header-dtails-button{
    text-align: center;
    padding-top: 30px;
}
.header-right-btn {
    background:#289BDE;
    color: #FFF;
    border: none;

}
.banner-right{
    padding-right: 50px;
}


/* popular courses  */

#popular-courses{
    margin-top: 130px;
}
.popular-courses-text-h1{
    width: 549px;
    margin: 0 auto;
}
.popular-courses-text-h1 h1{
    color: #1D1D1D;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px; 
}
.popular-courses-text-p{
    width: 606px;
    height: 60px;
    margin: 0 auto;
}
.popular-courses-text-p p{
    color: var(--Dark-03, #777);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
}

/* popular Card section  */
#popular-courses-card{
    margin-top: 50px;
}
.popular-courses-main-card{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
}

.popular-card{
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    background: #FFF;


    width: 648px;
    height: 200px;

    display: flex;
    justify-content: space-between;
}
.popular-card-img{
    width: 200px;
    height: 200px;
}
.popular-card-right{
    width: 397px;
    height: 133px;
    align-items: center;
    margin: 34px 27px;
}
.popilar-card-right-h2 h2{
    color:  #4A4A4A;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popular-card-right-p p{
    color: #777;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}

.popular-card-right-prize h2{
    color: #289BDE;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
}

.popular-card-btn{
    margin-top: 50px;
    height: 56px;
    width: 248px;
    margin: 0 auto;
}

.new-card-btn{
    text-align: left;
}
.new-card-btn-b{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 33px;
    background-color: #FFF;
    border: none;
    cursor: pointer;
}














@media only screen and (max-width: 600px) and (min-width: 300px) {
    .conteinar{
        width: 100%;
        height: 100%;
    }
    #header{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .header-dtails{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #FFF;
    }
    .header-left h1{
        font-size:28px;
        font-weight: 600;
    }
    .manu-list{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .header-center{
        width:100%;
        height:100%;
    }
    .manu-list li a{
        text-decoration: none;
        font-size:16px;
    }

    .header-button{
        font-size: 14px;
        margin-top: 20px;
        padding: 8px 15px;
    }
    .main-banner{
        width: 280px; 
        height:262px;
        padding: 39px 0px;
        margin: 0 auto;
    }
    .dtails{
        display: flex;
        flex-direction: column;
    }

    .banner-left{
        display: none;
    }

    .banner-dtails-h1{
        width: 230px;
        height: 60px;
        padding-left: 35px;
    }
    .banner-dtails-h1 h1{
        font-size:20px;
        line-height: normal;
    }

    .banner-dtails-p{
       
        width: 274px;
        height: 54px;
        padding-top: 10px;
    
    }

    .banner-dtails-p p{
        font-size: 12px;
        line-height:normal;
        font-weight: 600;
    }

    .header-dtails-button{
        padding-top: 10px;
    }
    .banner-right{
        display:none;
    }

    #popular-courses{
        margin-top: 32px;
    }
    .popular-courses-text-h1{
        width: 100%;
        margin: 0 auto;
    }
    .popular-courses-text-h1 h1{
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 0; 
    }
    .popular-courses-text-p{
        width: 295px;
        height: auto;
        margin: 0 auto;
        padding-top: 20px;
    }
    .popular-courses-text-p p{
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height:normal; 
    }

    #popular-courses-card{
        margin-top:17px;
        margin: 10px;
    }

    .popular-courses-main-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .popular-card{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .new-card{
        display: none;
    }
    .popular-card-img{
        width: 100%;
        height:100%;
    }
    .popular-card-right{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 20px;
        align-items: center;
    }

    .popilar-card-right-h2 h2{
        font-size: 16px;
    }
    .popular-card-right-p p{
        color: #777;
        font-size: 12px;
        font-weight: 300;
        padding-top: 10px;
    }

    .popular-card-btn{
        display: none;
    }

    .new-card-btn{
        text-align: center;
        padding-top: 24px;
    }
    .new-card-btn-b{
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        padding: 13px 33px;
        background-color: #289BDE;
        border: none;
        border-radius: 5px;
        }


}




















