
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteinar{
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
/*<<<<<<<<<< {Header Section start} >>>>>>>>>>>>> */
#header{
    margin-top: 66px;
    margin-bottom: 65px;
}
.header-dtails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
}
.header-left h1{
    font-size: 40px;
    font-weight: 600;
    color:  #4A4A4A;
    text-align: center;
}
.header-center{
    width:666px ;
    height:27px;
}
.manu-list{
    display: flex;
    justify-content: space-between;
}
.manu-list li {
    list-style-type: none;
}
.manu-list li a{
    text-decoration: none;
    font-size: 18px;
    color: #777;
    text-align: center;
    font-weight: 400;
}

.header-button{
    border-radius: 5px;
    border: 1px solid  #289BDE;
    padding: 10px 33px;
    color: #289BDE;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background: #FFF;
    cursor: pointer;
    
}

/*<<<<<<< banner section start >>>>>>>>>*/

.main-banner{
    background: rgba(29, 29, 29, 0.70)url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    width:100% ;
    height: 700px;
    border-radius: 5px;
}
.dtails{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.banner-left{
    padding-left: 50px;
}
.banner-dtails-h1{
    width: 632px;
    height: 100%;
}
.banner-dtails-h1 h1{
    font-size: 65px;
    color: #FFF;
    line-height: 85px;
    text-align: center;
    font-weight: 600;
}
.banner-dtails-p{
    width: 671px;
    height: 100%;
    padding-top: 20px;
}
.banner-dtails-p p{
    font-size: 18px;
    color: #F4F4F4;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.header-dtails-button{
    text-align: center;
    padding-top: 30px;
}
.header-right-btn {
    background:#289BDE;
    color: #FFF;
    border: none;

}
.banner-right{
    padding-right: 50px;
}


/* popular courses  */

#popular-courses{
    margin-top: 130px;
}
.popular-courses-text-h1{
    width: 549px;
    margin: 0 auto;
}
.popular-courses-text-h1 h1{
    color: #1D1D1D;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px; 
}
.popular-courses-text-p{
    width: 606px;
    height: 60px;
    margin: 0 auto;
}
.popular-courses-text-p p{
    color: var(--Dark-03, #777);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
}

/* popular Card section  */
#popular-courses-card{
    margin-top: 50px;
}
.popular-courses-main-card{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
}

.popular-card{
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    background: #FFF;


    width: 648px;
    height: 200px;

    display: flex;
    justify-content: space-between;
}
.popular-card-img{
    width: 200px;
    height: 200px;
}
.popular-card-right{
    width: 397px;
    height: 133px;
    align-items: center;
    margin: 34px 27px;
}
.popilar-card-right-h2 h2{
    color:  #4A4A4A;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popular-card-right-p p{
    color: #777;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}

.popular-card-right-prize h2{
    color: #289BDE;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
}

.popular-card-btn{
    margin-top: 50px;
    height: 56px;
    width: 248px;
    margin: 0 auto;
}

.new-card-btn{
    text-align: left;
}
.new-card-btn-b{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 33px;
    background-color: #FFF;
    border: none;
    cursor: pointer;
}

/* Explore The elearning Institute section start  */
/* 
.main-explore{
    border-radius: 5px;
    background: #F4FAFD;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.main-explore-left{
    width: 600px;
    height: 806px;
}
.explore-right{
    margin-right: 54px;
}

.right-explore-head{
    width: 549px;
}

.right-explore-head h1{
    color:  #1D1D1D;
font-size: 45px;
font-weight: 600;
line-height: 60px; 
}

.right-explore-pg{
    width: 606px;
    height: 210px;
    margin-top: 10px;
}
.right-explore-pg p{
    color:  #777;
font-size: 16px;
font-weight: 400;
line-height: 30px;
}
.ppp{
    padding-top: 25px;
}

.explore-list{
    width: 559px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.explor-list-one{
    width: 142px;
    height: 90px;
}
.explor-list-one h2{
    color: var(--Dark-01, #1D1D1D);
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}

.explor-list-one p{
    color: var(--Dark-03, #777);
    font-size: 20px;
     font-weight: 500;
}

.explor-list-two{
    width: 155px;
    height: 90px;
}

.explor-list-two h2{
color: #1D1D1D;
font-size: 45px;
font-style: normal;
font-weight: 600;
}
.explor-list-two p{
    color: #777;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.explor-list-three{
    width: 162px;
    height: 90px;
}
.explor-list-three h2{
    color: #1D1D1D;
     font-size: 45px;
    font-style: normal;
    font-weight: 600;
}
.explor-list-three p{
    color: #777;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.button-two{
    width: 175px;
    height: 56px;
}
.button-to{
    padding: 13px 33px;
    color: #FFF;
    background-color: #289BDE;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    border: none;
    border-radius: 5px;
    margin-top: 30px;

}
 */


/* section start join */
.main-join{
    background-color: #289BDE;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    padding: 0px 100px;
    border-radius: 5px;
}

.join-left h1{
    color: var(--White-Color, #FFF);
    font-size: 45px;
    font-weight: 600;

}

.join-left-p{
    width: 528px;
}
.join-left-p p{
color: #F4F4F4;
font-size: 16px;
font-weight: 400;
line-height: 30px; 
}


.blue-button{
    padding: 13px 33px;
    color: #289BDE;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFF;
    border: none;
    border-radius: 5px;

}
/* new section sucsesfll-student */


.section-head-one{
    width: 549px;
    height: 120px;
    margin-top: 130px;
}
.section-head-one h1{
    color: #1D1D1D;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px; 
}
.section-header-pg {
    width: 556px;
    height: 60px;
}
.section-header-pg  p{
    color: #777;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}
/* new section student card */
.student-all-card{
    margin-top: 50px;
}

.student-card-flex{
    display: flex;
    justify-content: space-between;
}

.student-main-card{
    border-radius: 5px;
    border: 1px solid  #E8E8E8;
    background: #FFF;
    width: 290px;
    height: 370px;
}
.student-card-img img{
    width: 289px;
}
.student-dtails h3{
    color: var(--Dark-02, #4A4A4A);
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    margin-top: 10px;
}

.student-dtails p{
    color: var(--Dark-03, #777);
     font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}

/* some student section start */
.some-student{
    padding-top: 130px;
}
.some-student-h1 h1{
    color:  #1D1D1D;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; 
}
.some-student-p{
    height: 60px;
    width: 606px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}
.some-student-p p{
    color: #777;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}
/* student feadback start */

.all-feadback{
    display: flex;
    justify-content: space-between;
}
.Box-border{
     width: 648px;
    height: 325px;
    border: 1px solid #E8E8E8;
    background: #FFF;
    margin-top: 50px; 
}
.main-icon-one{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    width: 646px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
.student-feedback-pg{
    width: 568px;
    height: 120px;
    padding-left: 50px;
}
.student-feedback-pg p{
    color:  #777;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;   
}

.left-bottom-flex{
    display: flex;
    padding-left: 30px;
    padding-top: 15px;
}
.left-bottom-l{
    padding-top:8px ;
    padding-left: 10px;
}
.left-bottom-r{
    padding-left: 30px;
}
.left-bottom-r p{
    color: #777;
    font-size: 16px;
    font-weight: 400;
}




























@media only screen and (max-width: 600px) and (min-width: 300px) {
    .conteinar{
        width: 100%;
        height: 100%;
    }
    #header{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .header-dtails{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #FFF;
    }
    .header-left h1{
        font-size:28px;
        font-weight: 600;
    }
    .manu-list{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .header-center{
        width:100%;
        height:100%;
    }
    .manu-list li a{
        text-decoration: none;
        font-size:16px;
    }

    .header-button{
        font-size: 14px;
        margin-top: 20px;
        padding: 8px 15px;
    }
    .main-banner{
        width: 280px; 
        height:262px;
        padding: 39px 0px;
        margin: 0 auto;
    }
    .dtails{
        display: flex;
        flex-direction: column;
    }

    .banner-left{
        display: none;
    }

    .banner-dtails-h1{
        width: 230px;
        height: 60px;
        padding-left: 35px;
    }
    .banner-dtails-h1 h1{
        font-size:20px;
        line-height: normal;
    }

    .banner-dtails-p{
       
        width: 274px;
        height: 54px;
        padding-top: 10px;
    
    }

    .banner-dtails-p p{
        font-size: 12px;
        line-height:normal;
        font-weight: 600;
    }

    .header-dtails-button{
        padding-top: 10px;
    }
    .banner-right{
        display:none;
    }

    #popular-courses{
        margin-top: 32px;
    }
    .popular-courses-text-h1{
        width: 100%;
        margin: 0 auto;
    }
    .popular-courses-text-h1 h1{
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 0; 
    }
    .popular-courses-text-p{
        width: 295px;
        height: auto;
        margin: 0 auto;
        padding-top: 20px;
    }
    .popular-courses-text-p p{
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height:normal; 
    }

    #popular-courses-card{
        margin-top:17px;
        margin: 10px;
    }

    .popular-courses-main-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .popular-card{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .new-card{
        display: none;
    }
    .popular-card-img{
        width: 100%;
        height:100%;
    }
    .popular-card-right{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 20px;
        align-items: center;
    }

    .popilar-card-right-h2 h2{
        font-size: 16px;
    }
    .popular-card-right-p p{
        color: #777;
        font-size: 12px;
        font-weight: 300;
        padding-top: 10px;
    }

    .popular-card-btn{
        display: none;
    }

    .new-card-btn{
        text-align: center;
        padding-top: 24px;
    }
    .new-card-btn-b{
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        padding: 13px 33px;
        background-color: #289BDE;
        border: none;
        border-radius: 5px;
        }




        .main-explore{
            border-radius: 5px;
            background: #F4FAFD;
            display: flex;
            flex-direction: column;
        }

        .main-explore-left{
            width: 275px;
            height: 225px;
        }

        .explore-right{
            margin-right:0px;
        }
        .right-explore-head{
            width:289px;
        }
        .right-explore-head h1{
        color:  #1D1D1D;
        font-size: 20px;
        line-height:normal; 
        }
        .right-explore-pg{
            width: 606px;
            height: 210px;
            margin-top: 10px;
        }

        .main-join{
            display: flex;
            flex-direction: column;
            padding: 0px;
            text-align: center;
            margin: 10px;
        }  

        .join-left h1{
            color:  #FFF;
             font-size: 22px;
             font-weight: 600;
             padding-top: 30px;
        }
        .join-left-p{
            padding-top: 20px;
            width:100%;
        }

        .blue-btn{
            padding-bottom: 30px;
        }
        .successfull-students{
            padding-top: 30px;
        }
        .section-head-one{
            width: 270px;
            height: 100%;
            margin-top: 0px;
        }
        .section-head-one h1{
            color: #1D1D1D;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            margin: 0 auto;
            margin-left: 20px;
            
        }
        .section-header-pg {
            width: 280px;
            height: 60px;
        }
        .section-header-pg  p{
            color: #777;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: center;
        }

        .student-all-card{
            margin-top: 40px;
            margin-left:5px;
        }
        .student-card-flex{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        
        .some-student{
            padding-top: 40px;
        }
        .some-student-h1{
            width: 222px;
            margin-left: 40px;
        }
        .some-student-h1 h1{
            font-size: 20px;
            line-height:normal; 
        }
        
        .some-student-p{
            width: 290px;
            text-align: center;
            padding-top: 10px;
        }

        .some-student-p p{
            color: #777;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px; 
        }
        .all-feadback{
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: 5px;
        }
        .Box-border{
            width:100%;
           height: 100%;
           margin-top: 50px; 
       }
       .main-icon-one{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin-top: 20px;
        width: 100%;
        height: 50px;
        
        }
        .student-feedback-pg{
            width: 100%;
            height: 100%;
            padding-left: 20px;
            padding-right: 20px;
            text-align: justify;
        }
        .left-bottom-r p{
            color: #777;
            font-size: 12px;
        }



















